* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito !important;
}
body {
  background: #03363d;
  /* color: #06444d; */
}
#input,
#password {
  color: rgb(230, 211, 211) !important;
  border: 2px solid white;
  border-radius: 0.7rem;
  padding-block: 0.8rem;
  /* outline: 3px solid white; */
}

:is(#input, #password)::placeholder {
  font-family: Nunito;
}
.text input:focus fieldset {
  border: none !important;
}
#outlined-basic-label {
  color: #dde2e2;
}
fieldset {
  border-color: transparent !important;
}

#gallery {
  width: 350px;
}
@media only screen and (max-width: 500px) {
  #gallery {
    width: 100%;
  }
  .grid {
    margin-left: 10px !important;
  }
}

footer {
  background: #10444b;
  padding: 1.3rem 8%;
}

form input {
  all: uset;
  background: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border: 2px solid #3a8686;
  border-radius: 0.9rem;
}
input:active,
input:focus {
  border: 2px solid #0f5858;
  outline: none;
}
input::placeholder {
  color: white;
  font-family: Arial;
}
