* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #03363d;
  font-family: Nunito;
  color: #664810;
}
#input,
#password {
  color: rgb(230, 211, 211) !important;
  border: 2px solid white;
  border-radius: 0.7rem;
  padding-block: 1rem;
  /* outline: 3px solid white; */
}

.text input:focus fieldset {
  border: none !important;
}
#outlined-basic-label {
  color: #dde2e2;
}
fieldset {
  border-color: transparent !important;
}
