* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito !important;
}
body {
  background: #03363d;
  /* color: #06444d; */
}
#input,
#password {
  color: rgb(230, 211, 211) !important;
  border: 2px solid white;
  border-radius: 0.7rem;
  padding-block: 0.8rem;
  /* outline: 3px solid white; */
}

:is(#input, #password)::placeholder {
  font-family: Nunito;
}
.text input:focus fieldset {
  border: none !important;
}
#outlined-basic-label {
  color: #dde2e2;
}
fieldset {
  border-color: transparent !important;
}
